:root {
  --color-body: #28345D;
  --color-background:  #C4DBFC;
  --color-hyperlink: #3877E8;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

body {
  display: flex;
  justify-content:center;
  color:  var(--color-body);
  background-color: var(--color-background);
}

* {
  box-sizing: border-box;
}

a {
  color: var(--color-hyperlink);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

@media (prefers-color-scheme: dark) {
  body {
    --color-body: #A7FFFD;
    --color-background:  #28345D;
  }
  a {
    --color-hyperlink: #479DE6;
  }
}